/* .artorderdetails-card {
  display: flex;
  justify-content: center;
  margin-left: 50%;
  margin-top: 10px;
  height: 70%;
  padding: 0;
  margin-right: 10px;
}
.artorderdetails-body {
  display: flex;
}
.artorderdetails-img {
  display: flex;
  height: 20%;
  border-radius: 20px;
  width: 18%;
}
.artorderdetails-div {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  padding-bottom: 2px;
  top: 0;
  bottom: 0;
} */
.artworkorderdetatils-div span {
  margin-left: 140px;
}
.artworkorderdetails-divv {
  border: 0.96px solid gray;
}
.artworkorderdetails-card {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 155px;
  margin-left: 120px;
}
.artworkorderdetails-img {
  width: 80px;
  height: 80px;
}
.orderdetails-card span {
  /* margin-left: 300px; */
}
.artworkorderdetails-divs {
  border: 0.96px solid gray;
  margin-top: 10px;
}