.artistdetails-container {
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabname {
  color: rgb(0, 17, 255);
  font-style: italic;
  text-transform: uppercase;
}
.artistdetails-card {
  /* width: clamp(200%, 50%, 500%); */
  width: 85vw;
  height: 700px;
  /* background-color: #dddddd; */
  border-radius: 10px;
  /* border: 1px solid #4f46e5; */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  display: grid;
  grid-template-rows: 170px auto;
  overflow: auto;
}
.artistdetails-header {
  background: url(../images/pup.png) center;
  background-size: cover;
  /* margin: 2px; */
  /* border-radius: 30px 30px 0 0; */
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.2);
}
.artistdetails-profile {
  display: flex;
  align-items: center;
  position: absolute;
  inset: calc(100% - 75px) 65px auto auto;
}
.artistdetails-names {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* color: var(--primary-color); */
  background-color: aliceblue;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 5px 25px;
  border-radius: 50px 0px 50px 0;
  transform: translateX(-10px);
}
.artistdetails-titles {
  color: black;
}
.artistdetails-img {
  width: 150px;
  height: 150px;
  /* background: url(../images/download1.jpeg) center; */
  background-size: cover;
  border-radius: 50%;
  border: 2px solid #dddddd;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.artistdetails-info {
  margin-top: 15px;
  margin-left: 2px;
}
.artistdetails-div{
  display: flex;
}
.artistdetails-h5{
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
}