.artworkprofiletab-h4 {
  color: #000;
  font-weight: 500;
  margin: 30px 50px;
}
.artworkprofiletab-p {
  color: #039ce8;
}
.artworkprofiletab-div {
  display: flex;
  flex-direction: row;
  padding: 0 0 50px 200px;
}
.artworkprofiletab-card {
  /* margin-left: 20px; */
  /* margin-right: 50px; */

  /* margin-bottom: 50px; */
  /* height: 50%; */
  /* width: 40px; */
  /* padding: 30px; */
}
.artworkprofiletab-cards {
  /* margin-left: 50px; */
  /* margin-right: 20px; */
  /* height: 50%; */
  /* width: 35%; */
  /* padding: 50px; */
}
.artworkprofiletab-p span {
  /* font-weight: 600; */
  color: black !important;
}
