.addcustomer-main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.addcustomer-container {
  content: "";
  max-width: 700px;
  width: 100%;
  /* height: 80%; */
  background: #cdb4db;
  /* background-image: url('../images/color3.jpg'); */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 25px 30px;
  border-radius: 5px;
}
.addcustomer-container .addcustomer-main {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.addcustomer-container .addcustomer-main::before {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.addcustomer-container .addcustomer-form .addcustomer-label {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.addcustomer-input {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #9b59b6;
}
.addcustomer-button {
  margin-top: 20px;
  background-color: #cdb4db;
}
