.artwork-container {
  background-color: aliceblue;
  margin-top: 70px;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 30PX;
  width: 30vw;
  height: 60vh;
  box-sizing: border-box;
  border-radius: 20px;
}
.artwork-form {
  display: flex;
  flex-direction: column;
}
.artwork-input {
  border-radius: 20px;
  border: 2px solid gray;
  padding-left: 10px;
}
.artwork-select {
  border-radius: 20px;
  border: 2px solid gray;
  padding-right: 10px;
  padding-left: 5px;
}
.artwork-option {
  padding-left: 10px;
}
.artwork-check {
  margin-left: 20px;
}
.artwork-file {
  border-radius: 20px;
  border: 2px solid gray;
  background-color: #fff;
}
.artwork-btn-div {
  display: flex;
  justify-content: center;
}
.artwork-button {
  color: #fff;
  background-color: blueviolet;
  font-style: uppercase;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
}
