.addcustomer-container {
  background-color: aliceblue;
  width: 30vw;
  height: 70vh;
  box-sizing: border-box;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.96);
  border-radius: 20px;
}
.addcustomer-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.addcustomer-label {
  margin-right: 10%;
}
.addcustomer-input {
  padding-left: 10px;
  border-radius: 20px;
  border: 2px solid gray;
}
.addcustomer-file {
  padding-left: 1px;
  border-radius: 20px;
  border: 2px solid gray;
}
.addcustomer-button {
  color: #fff;
  background-color: blueviolet;
  font-style: uppercase;
  margin-top: 5px;
  border-radius: 20px;
}
