.topartist-h4 {
  display: flex;
  margin-top: 20px;
}
/* cardsetup */
.topartist-card {
  display: flex;
  margin-top: 5px;
  position: relative;
  overflow: hidden;
}
.topartist-image {
  transition: transform 0.3s;
  overflow: hidden;
  height: 250px;
  width: 100%;
  position: relative;
}
.topartist-img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  /* background-position: top; */
  transition: transform 0.3s;
}
.topartist-img:hover {
  transform: scale(1.1);
}
.topartist-text {
  display: flex;
  left: 10px;
  right: 10px;
}
.topartist-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #AF7AC5;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 5px;
  /* width: 130px; */
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 5px; */
  margin-left: 250px;
}
.topartist-button .topartist-span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.topartist-button .topartist-span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}
.topartist-button:hover .topartist-span {
  padding-right: 15px;
}
.topartist-button:hover .topartist-span:after {
  opacity: 1;
  right: 0;
}
