.topartwork-h4 {
  display: flex;
  margin-top: 20px;
}
.topartwork-card {
  display: flex;
  margin-top: 5px;
  position: relative;
  overflow: hidden;
}
.topartwork-image {
  transition: transform 0.3s;
  overflow: hidden;
  height: 250px;
  width: 100%;
  position: relative;
}
.topartwork-img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  transition: transform 0.3s;
}
.topartwork-img:hover {
  transform: scale(1.1);
}
.topartwork-text {
  display: flex;
  left: 10px;
  right: 10px;
}
.topartwork-button {
  display: inline-block;
  padding: 2px 2px;
  font-size: 18px;
  /* text-align: center; */
  /* text-decoration: none; */
  color: #fff;
  background-color: #AF7AC5;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.topartwork-button:hover {
  background-color: #fff;
  color: #AF7AC5;
  border: 2px solid #AF7AC5;
  box-shadow: 5px 5px 0px #AF7AC5;
}

.topartwork-button:active {
  background-color: #EBDEF0;
  box-shadow: none;
  transform: translateY(4px);
}
